<h1> Reply to the topic </h1>

<h3> <%=@topic.name %> </h3>
<%=form_for [@topic, @reply] do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :body %>
<%= f.text_field :body %>
<br>
<%= f.submit :submit %>
		
<% end %>
  


