
<h2>
	<b> Title: </b> <%= @topic.name %>
</h2> 
<h3>
	<b> Created by: </b> <%= @topic.user.email %>
</h3>



<% @topic.replies.each do |reply| %>
  Reply
  <br>
  Title: <%= reply.title %>
  <br>
  <%= reply.user.email %> says:
  <br>
  <%= reply.body %>
  <br>
  <br>

<% end %>

<%= link_to "Add a post to this Topic" , new_topic_reply_path(@topic)  %>

<%= link_to "Back to list of topics" , topics_path  %>




